main > div > h1 {
  font-family: "Space Mono", monospace;
  color: white;
}
header {
  background: transparent !important;
}
.menu {
  background: transparent;
}

body {
  overflow: hidden;
  min-height: 100dvh;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}
#blob {
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(19, 133, 95), rgb(82, 62, 121));
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: -2;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(12vmax);
}
