{{ define "main" }}
<main class="projects">
  <h1 class="projects-title">{{ .Title }}</h1>

  {{ if .Content }}
  <div class="projects-content">{{ .Content }}</div>
  {{ end }}

  <div class="project-list">
    {{ range .Pages }}
    <div class="project-card">
      {{ if .Params.image }}
      <div class="project-image">
        <img src="{{ .Params.image }}" alt="{{ .Title }}" />
      </div>
      {{ end }}
      <div class="project-details">
        <h2 class="project-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p class="project-description">{{ .Params.description }}</p>
        <div class="project-meta">
          <span class="project-status {{ if eq .Params.status "Active" }}status-active{{ end }}">Status: {{ .Params.status }}</span>
          <span class="project-date">Date: {{ .Date.Format "January 2, 2006" }}</span>
        </div>
        <div class="project-technologies">
          {{ range .Params.technologies }}
          <span class="technology-tag">{{ . }}</span>
          {{ end }}
        </div>
        <a href="{{ .Permalink }}" class="project-read">Read more</a>
        {{ if .Params.externalLink }}
        <a href="{{ .Params.externalLink }}" class="project-link" target="_blank">Visit Project</a>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>

  {{ partial "pagination-list.html" . }}
</main>
{{ end }}
